.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button{
  color: #eaeaef;
    border-color: rgb(239 239 245 / 30%);
    background-color: rgb(255 102 0);
    position: relative;
    padding: 0 1em;
    border-radius: 8px;
    margin-left: 20px;
    min-width: 3em;
    min-height: 2.7em;
    border: 1px solid;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 200ms, color 200ms, border 200ms;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    width: 12.5em;
    justify-content: center;
    text-transform: uppercase;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: auto;
  width: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}

.second-column {
  background-color: #fffbf5;
}

.movable-item {
  border-radius: 10px;
  background-color: #fff3f3;
  height: 100px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.draggable-container {
  width: 200px;
  padding: 0px 5px;
}

.draggable-header {
  border: 1px solid #ccc;
  padding: 5px;
  background: #f0f0f0;
  margin-bottom: 5px;
}

.draggable-item {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: move;
  margin-bottom: 5px;
}
